@charset "utf-8";

.main {
  display: flex;
}

.shopping-title h1 {
 font-size: 120%;
}

.shopping-button button {
  margin-bottom: 10px;
  border: 1px solid black;
}

.share-img {
 width: 50px;
  height: 50px;
  margin-bottom: 10px;

}

.share-img h4 {
  color: rgb(174, 172, 172)
}

.share-img ul {
  display: flex;
  justify-content: center;
 
}

.share-img li {
  list-style: none;
}



.image-field {
  position: sticky;
  width: 200px;
  height: 450px;
  top: 0;
  flex: 1.5;
  background: pink;
} 

section img {
  max-width: 100%;
}
.image-field {
  margin: 0 auto 0 auto;
  max-width: 90%;
  width: 500px;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  flex: 1 1 auto;
  margin-right: 8px;
}
li:last-of-type {
  margin-right: 0;
}
.letter-field {
  /* background: green; */
  flex: 1;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.price {
  font-size: 200%;
}

.cart-button {
  color: white;
 background-color: black;
 display: inline-block;
 min-width: 400px;
 line-height: 50px;
}

.like-button {
  color: black;
  background-color: cornsilk;
  display: inline-block;
  min-width: 400px;
  line-height: 50px;
}

.category-button {
  color: black;
  background-color: aliceblue;
  display: inline-block;
  min-width: 200px;
  line-height: 50px;
}

.warning {
  margin: 10px;
  padding: 10px;
}

.text {
  margin: 10px;
  padding: 10px;
}

.text-title {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}


