header {
  display: flex;
  justify-content: center; /* 中央揃え */
  align-items: center; /* 中央揃え */
}

.title {
  margin-right: 20px; /* ナビゲーションメニューとの間隔 */
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-family: Noto Serif Japanese;
  
}


 .menu-group {
  margin-right: 21px;
  margin-left: 21px;
 }

 a {
  color: inherit;
  text-decoration: none;
 }

 nav {
  text-align: center;
 }

div ul {
  inline-size: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  max-width: 600px;
 }

 div li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  transition: background-color 0.3s;
 }

 div li:hover {
  background-color: #ddd;
 }

 .Liquorsearch {
  display: block;
  font-size: 1.5em;
  margin: 20px 0 10px 0;
  text-align: center; /* 中央揃え */
  color: #333;
}

 .category-wine, .category-champa, .category-whiskey, .category-brandy, .category-shochu, .category-japasake, .category-spirits, .category-beer, .category-liqueur {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

/* 商品コンテナのスタイル */
.product-container {
  overflow-x: auto; /* 横スクロール可能にする */
  white-space: nowrap; /* 要素を横に並べる */
  padding: 10px 0;
}

/* 商品のスタイル */
.product {
  display: inline-block; /* インラインブロック要素として配置 */
  margin-right: 10px; /* 商品間の間隔 */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px; /* 商品コンテナの幅 */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-columns {
  display: flex;
  flex-direction: column; /* カラムを縦に配置 */
  align-items: center;
  text-align: center;
}

.footer-column {
  width: 100%;
  margin-bottom: 20px; /* カラム間の間隔 */
}

.footer-column h3 {
  margin-top: 0;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: black;
  text-decoration: none;
  display: inline; 
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
}